* {
    background-color: rgb(104, 104, 244);
    margin: 0;
    padding: 0;
}

#cardMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    justify-content: center;
}

#cardChild {
    width: 500px;
    height: 700px;
    background-color: white;
    border-style: solid;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}

label {
    color: black;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

input {
    background-color: white;
}

h1 {
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1.5rem;
    align-items: top;
}